@import 'tailwindcss';

@theme {
  --breakpoint-mo: 375px;
  --breakpoint-tab: 768px;
  --breakpoint-pc: 1440px;
  --font-sans: var(--font-pretendard), sans-serif;
  --font-cafe24: var(--font-cafe24proup), sans-serif;
}

:root {
  font-family: var(--font-pretendard), sans-serif;
}
